## 학습 목표 

- 머신러닝을 위해서, numpy와 pandas의 사용법을 다시 연습합니다.

- numpy를 사용하여 여러가지 벡터 연산을 연습하고, 실제 데이터 유사도를 계산해봅시다.

### 1. 라이브러리 연습 예제 

[ 필수 RECAP ]

> Numpy : broadcasting, universal function

> Pandas : fancy indexing, categorical variable encoding

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# data를 불러와 봅니다.
import pandas as pd

base_path = "/content/drive/MyDrive/Colab Notebooks/data/prudential-life-insurance-assessment/"

data = pd.read_csv(base_path + "train.csv")
data

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,...,Medical_Keyword_40,Medical_Keyword_41,Medical_Keyword_42,Medical_Keyword_43,Medical_Keyword_44,Medical_Keyword_45,Medical_Keyword_46,Medical_Keyword_47,Medical_Keyword_48,Response
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,...,0,0,0,0,0,0,0,0,0,8
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,...,0,0,0,0,0,0,0,0,0,4
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,...,0,0,0,0,0,0,0,0,0,8
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,...,0,0,0,0,0,0,0,0,0,8
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,...,0,0,0,0,0,0,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59376,79142,1,D1,10,0.230769,2,3,1,0.074627,0.709091,...,0,0,0,0,0,0,0,0,0,4
59377,79143,1,D3,26,0.230769,2,3,1,0.432836,0.800000,...,0,0,0,0,0,0,0,0,0,7
59378,79144,1,E1,26,0.076923,2,3,1,0.104478,0.745455,...,0,0,0,0,0,0,0,0,0,8
59379,79145,1,D2,10,0.230769,2,3,1,0.507463,0.690909,...,1,0,0,0,0,0,0,0,0,8
59380,79146,1,A8,26,0.076923,2,3,1,0.447761,0.781818,...,0,0,0,0,0,0,0,0,0,7

In [3]:
data.iloc[:, :15]

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,Wt,BMI,Employment_Info_1,Employment_Info_2,Employment_Info_3
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,0.148536,0.323008,0.028,12,1
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,0.131799,0.272288,0.000,1,3
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,0.288703,0.428780,0.030,9,1
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,0.205021,0.352438,0.042,9,1
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,0.234310,0.424046,0.027,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59376,79142,1,D1,10,0.230769,2,3,1,0.074627,0.709091,0.320084,0.519103,0.020,1,3
59377,79143,1,D3,26,0.230769,2,3,1,0.432836,0.800000,0.403766,0.551119,0.100,9,1
59378,79144,1,E1,26,0.076923,2,3,1,0.104478,0.745455,0.246862,0.360969,0.035,9,1
59379,79145,1,D2,10,0.230769,2,3,1,0.507463,0.690909,0.276151,0.462452,0.038,9,1
59380,79146,1,A8,26,0.076923,2,3,1,0.447761,0.781818,0.382845,0.539563,0.123,9,1

### 2. 유사도 측정 예제

#### EDA & Preprocessing

- 퀵하게 데이터를 파악하고, 유사도 측정 예시에 알맞게 가공해봅시다.

In [4]:
## EDA
## row에 대한 조건, col에 대한 조건 : 정수 index
# 앞에서부터 row 100개와, col 15개를 뽑아서 가져오고 싶습니다.
#data.iloc[:100, :15] # list, tuple, numpy array
# 앞에서부터 col 15개를 가져옵니다.
data = data.iloc[:, :15]
data
# boolean mask
# Q. 데이터 중에 Ins_Age가 0.5를 넘는 모든 사람을 뽑고 싶습니다.
#data.loc[row에 대한 조건, col에 대한 조건]
# 1. 데이터 중에 Ins_Age가 0.5를 넘는
#index = data.loc[data.Ins_Age >= 0.5, data.columns.str.startswith("Medical_Keyword")].index
#data.loc[index, "Id"]
## col조건
# Q. Medical_Keyword 라고 시작하는 모든 column을 뽑고 싶습니다.
#data.columns[data.columns.str.startswith("Medical_Keyword")]
#data.columns.str.startswith("Medical_Keyword")

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,Wt,BMI,Employment_Info_1,Employment_Info_2,Employment_Info_3
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,0.148536,0.323008,0.028,12,1
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,0.131799,0.272288,0.000,1,3
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,0.288703,0.428780,0.030,9,1
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,0.205021,0.352438,0.042,9,1
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,0.234310,0.424046,0.027,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59376,79142,1,D1,10,0.230769,2,3,1,0.074627,0.709091,0.320084,0.519103,0.020,1,3
59377,79143,1,D3,26,0.230769,2,3,1,0.432836,0.800000,0.403766,0.551119,0.100,9,1
59378,79144,1,E1,26,0.076923,2,3,1,0.104478,0.745455,0.246862,0.360969,0.035,9,1
59379,79145,1,D2,10,0.230769,2,3,1,0.507463,0.690909,0.276151,0.462452,0.038,9,1
59380,79146,1,A8,26,0.076923,2,3,1,0.447761,0.781818,0.382845,0.539563,0.123,9,1

In [5]:
## Id column을 drop하고, Product_Info_2 column을 숫자로 변경.
# 1. Id drop
data = data.drop(columns="Id")

# 2. Product_Info_2를 숫자로 변경. Ordinal Encoding, One-Hot Encoding
"""
"매우 싫음"  "싫음"  "보통"  "좋음"  "아주 좋음"  --> Ordinal Encoding
1           2      3      4         5

"남자"   "여자"   "trans"   "중성"   "응답하지 않음" --> One-hot Encoding
1         2       3        4         5
"""
# 2-1. Ordinal Encoding (pandas)
data.Product_Info_2 = pd.factorize(data.Product_Info_2)[0]
data

# 2-2. One-hot Encoding (pandas)
#pd.get_dummies(data=data, columns=["Product_Info_2"])

,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,Wt,BMI,Employment_Info_1,Employment_Info_2,Employment_Info_3
0,1,0,10,0.076923,2,1,1,0.641791,0.581818,0.148536,0.323008,0.028,12,1
1,1,1,26,0.076923,2,3,1,0.059701,0.600000,0.131799,0.272288,0.000,1,3
2,1,2,26,0.076923,2,3,1,0.029851,0.745455,0.288703,0.428780,0.030,9,1
3,1,3,10,0.487179,2,3,1,0.164179,0.672727,0.205021,0.352438,0.042,9,1
4,1,4,26,0.230769,2,3,1,0.417910,0.654545,0.234310,0.424046,0.027,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59376,1,7,10,0.230769,2,3,1,0.074627,0.709091,0.320084,0.519103,0.020,1,3
59377,1,0,26,0.230769,2,3,1,0.432836,0.800000,0.403766,0.551119,0.100,9,1
59378,1,2,26,0.076923,2,3,1,0.104478,0.745455,0.246862,0.360969,0.035,9,1
59379,1,4,10,0.230769,2,3,1,0.507463,0.690909,0.276151,0.462452,0.038,9,1
59380,1,5,26,0.076923,2,3,1,0.447761,0.781818,0.382845,0.539563,0.123,9,1

#### 유사도(Proximity)

1. Euclidean distance

2. Cosine Similarity

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
v1 = np.array([1, 2, 3])
v2 = np.array([0, 0, 0])

In [8]:
L = [1, 2, 3]
L2 = [0, 0, 0]

for i, i2 in zip(L, L2):
    print(i + i2)

L + L2 # concatenation

1
2
3

[1, 2, 3, 0, 0, 0]

In [9]:
# numpy broadcasting
v1 + v2 # (1, 2, 3) + (0, 0, 0) = (1, 2, 3) ## vector addition
v2 - v1 # vector subtraction
v1 * v2 # elementwise multiplication
v2 / v1 # elementwise division
v1 * 2  # scalar multiplication

## universal function -> functional programming
def reverse_num(x):
    return 1/x

# broadcasting
for x in v1:
    print(reverse_num(x))

1.0
0.5
0.3333333333333333

In [10]:
## v1과 v2에 있는 모든 원소들끼리 뺀 다음에, 제곱하고 다 더해서 루트 씌운거. = Euclidean distance(L2 distance)

#(v1 - v2) ** 2
distance = np.sqrt(np.sum(np.square(v1 - v2)))
distance2 = np.linalg.norm(v1 - v2) # 벡터의 크기 (L2 norm)
distance
#distance == distance2

3.7416573867739413

In [11]:
f = lambda x,y : np.sqrt(np.sum(np.square(x, y)))
f(v1, v2)

3.7416573867739413

In [12]:
def euclidean_distance(a, b):
    return np.sqrt(np.sum(np.square(a - b)))
    #return np.linalg.norm(a - b)

In [25]:
def cosine_similarity(a, b):
    # 1. 분자 : a o b
    dot = a @ b

    # 2. 분모 : ||a||, ||b||
    norm = np.linalg.norm(a) * np.linalg.norm(b) + 1e-12
    sim = dot / norm

    if np.isnan(sim):
        return 0
    else:
        return sim

In [14]:
print(euclidean_distance(v1, v2))
print(cosine_similarity(v1, v2))

6.324555320336759
0.9719086448808438

### 6번 고객과 가장 가까운 고객 찾기!

In [15]:
data

,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,Wt,BMI,Employment_Info_1,Employment_Info_2,Employment_Info_3
0,1,0,10,0.076923,2,1,1,0.641791,0.581818,0.148536,0.323008,0.028,12,1
1,1,1,26,0.076923,2,3,1,0.059701,0.600000,0.131799,0.272288,0.000,1,3
2,1,2,26,0.076923,2,3,1,0.029851,0.745455,0.288703,0.428780,0.030,9,1
3,1,3,10,0.487179,2,3,1,0.164179,0.672727,0.205021,0.352438,0.042,9,1
4,1,4,26,0.230769,2,3,1,0.417910,0.654545,0.234310,0.424046,0.027,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59376,1,7,10,0.230769,2,3,1,0.074627,0.709091,0.320084,0.519103,0.020,1,3
59377,1,0,26,0.230769,2,3,1,0.432836,0.800000,0.403766,0.551119,0.100,9,1
59378,1,2,26,0.076923,2,3,1,0.104478,0.745455,0.246862,0.360969,0.035,9,1
59379,1,4,10,0.230769,2,3,1,0.507463,0.690909,0.276151,0.462452,0.038,9,1
59380,1,5,26,0.076923,2,3,1,0.447761,0.781818,0.382845,0.539563,0.123,9,1

In [16]:
## euclidean distance version

target = data.loc[2] # 6번 고객
distances = []

## target을 기준으로 모든 데이터에 대해서 유사도를 계산한 뒤, 가장 유사한 고객을 찾아주세요. (index 출력.)
# euclidean -> cosine
for idx, row in data.iterrows():
    distances.append(euclidean_distance(target, row))

In [17]:
distances[2] = 999999 # 6번 고객만 적당한 큰 값으로 변경.

In [18]:
np.argmin(distances) # 18154

18154

In [26]:
## cosine similarity version

target = data.loc[2] # 6번 고객
similarities = []

## target을 기준으로 모든 데이터에 대해서 유사도를 계산한 뒤, 가장 유사한 고객을 찾아주세요. (index 출력.)
#  cosine
for idx, row in data.iterrows():
    similarities.append(cosine_similarity(target, row))

In [27]:
similarities[2] = -1 # worst case

In [28]:
np.argmax(similarities)

18154